@import url("https://fonts.googleapis.com/css2?family=Anton&family=Slabo+27px&display=swap");

.placeholderClass::placeholder {
  color: white;
}

input,
textarea {
  outline: none;
  border: none;
  width: inherit;
  background-color: inherit;
}
.container {
  box-shadow: 10px 7px 16px rgba(26, 24, 24, 0.616);
  border-radius: 10px;
}

.btn-add {
  position: static;
}
